//
//  Config.xcconfig
//  BusMock
//
//  Created by nuomi1 on 2020/8/24.
//  Copyright © 2020 nuomi1. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// https://stackoverflow.com/questions/21317844/how-do-i-configure-full-urls-in-xcconfig-files
SIMPLE_SLASH = /
DOMAIN = www.nuomi1.com
QQ_ID = 123456
QQ_MID = 123456
WECHAT_ID = 123456
WECHAT_MID = 123456
WEIBO_ID = 123456

ASSOCIATED_DOMAIN = applinks:$(DOMAIN)
DEVELOPMENT_TEAM = BUSMOCK
PRODUCT_BUNDLE_IDENTIFIER = com.nuomi1.bus.mock
QQ_APPID = tencent$(QQ_ID)
QQ_MINIPROGRAMID = $(QQ_MID)
QQ_UNIVERSALLINK = https:$(SIMPLE_SLASH)/$(DOMAIN)/qq_conn/$(QQ_ID)/
WECHAT_APPID = wx$(WECHAT_ID)
WECHAT_MINIPROGRAMID = gh_$(WECHAT_MID)
WECHAT_UNIVERSALLINK = https:$(SIMPLE_SLASH)/$(DOMAIN)/wechat/$(WECHAT_ID)/
WEIBO_APPID = wb$(WEIBO_ID)
WEIBO_REDIRECTLINK = https:$(SIMPLE_SLASH)/api.weibo.com/oauth2/default.html
WEIBO_UNIVERSALLINK = https:$(SIMPLE_SLASH)/$(DOMAIN)/weibo/$(WEIBO_ID)/
